.custom-shadow {
  box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.1);
}

.animated-image {
  position: relative;
  overflow: hidden; /* Ensure content stays within the boundaries of the div */

  img {
    position: relative;
    animation: slideAndFade 2.5s ease-in-out forwards;
  }
}


@keyframes slideAndFade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}